div.comment-list {
    padding-bottom: 5em;
}

p.comment-section-header {
    text-align: center;
    padding: 1em 0.5em;
    font-size: large;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.95);
    color: #272727;
}

div.comment {
    background-color: #fff;
    padding: 1em;
    margin-bottom: 0.75em;    
    box-shadow: 0px 1px 5px #bebebe;
    border: none;
    color: #272727;
}

div.comment-header {
    display: flex;
    justify-content: end;
    font-size: small;
    color: #272727;
}

div.comment-header p {
    margin-bottom: 0;
    font-style: italic;
}

.comment hr {
    margin-top: 0;
    margin-bottom: 0.75em;
}

p.comment-name {
    margin-right: 0.25em;
}

p.comment-date {
    margin-left: 0.25em;
}

p.comment-text {
    padding-top: 0.5em;
    padding-left: 0.5em;
}

p.no-comments {
    text-align: center;
    margin-top: 2em;
    font-style: italic;
    color: #cdcdcd;
    background-color: #fff;
    box-shadow: 0px 2px 15px #e7e7e7;
    padding: 2em;
    border-radius: 1em;
}

div.edit-btns {
    flex: 1;
    align-self: start;
    margin-left: 0.5em;
}

div.edit-btns button {
    margin-right: 0.25em;
}