div.header {
  font-size: medium;
  border-bottom: 1px solid #eeeeee;
  background-color: hsl(0, 0%, 100%);
  width: 100vw;
}

p.title {
  font-size: 1.25em;
  display: inline;
  margin: 0.25em 0.5em;
}

.nav-links a {
  margin: 0em 0.75em;
  font-size: small;
}

.initial-container {
  display: flex;
  justify-content: end;
  align-items: center;
}

.dropdown button.toggle {
  background-color: rgb(255, 247, 248);
  border: 1px solid rgb(241, 87, 87);
  color: rgb(241, 87, 87);
  padding: 0.2em 0.7em;
  border-radius: 5em;
  cursor: pointer;
  margin: 0.5em 0;
}