.landing-container {
    background-color: rgb(255, 249, 250);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.intro {
    text-align: center;
    margin: 3em 1.5em;
    font-size: large;
}

.question {
    text-align: center;
    margin: 1em 1.5em;
    font-family: 'Sandy-Daniel';
}

.yes-no {
    display: flex;
    justify-content: center;
}

.yes-no button {
    background-color: rgb(255, 247, 248);
    color: rgb(199, 105, 135);
    border: 1px solid rgb(199, 105, 135, 0.75);
    margin: 0em 0.25em;
}