div.yes-no-btns {
    display: flex;
    justify-content: end;
    margin-top: 1em;
}

div.delete {
    display: flex;
    justify-content: center;
}

div.modal-body button {
    margin: 0 0.25em;
}

div.modal-header {
    color: rgb(241, 87, 87);
}

div.modal-body {
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
}

div.modal-body div.loading {
    margin-top: 1em;
    padding-bottom: 0.5em;
    justify-content: center;
}

div.delete div.loading {
    margin-right: 0;
    margin-top: 0.5em;
}

p.err-msg {
    margin-top: 0.5em;
    margin-bottom: 0em;
    padding-left: 1em;
    font-style: italic;
    color: red;
}

p.form-err {
    margin-top: 0.5em;
    color: grey;
    padding-left: 0.5em;
}




