div.banner {
    margin-top: 0em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background-color: #ffffffdd;
    color: #272727;
    border: 1px solid rgb(231, 231, 231);
    /* box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.2); */
    width: 100vw;
}

div.img-container {
    display: flex;
    justify-content: center;
}

p.title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 0;
}

p.subtitle {
    font-size: 0.75em;
}

img.recipe-gma-pic {
    width: 50%;
    border-radius: 0.25em;
    box-shadow: 0px 5px 15px #d7d7d7;
    margin: 1em 0em;
}

div.tutorial {
    background-color: white;
    border-radius: 1em;
    box-shadow: 0px 5px 15px #d7d7d7;
    margin-top: 4em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.search-results {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.85em 0;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    background-color: rgba(241, 87, 87, 0.85);
    color: white;
}

div.search-results p {
    margin: 0em 0.5em;
}

div.search-results .arrow-btn {
    border-radius: 5em;
    padding: 0em 0.5em;
}

div.search-results .left-arrow {
    margin-left: 1em;
    margin-right: auto;
}

div.search-results .right-arrow {
    margin-left: auto;
    margin-right: 1em;
}