div.recipe-card {
    margin-bottom: 2em;
    padding: 1.75em 0.5em;
    position: relative;
    background: linear-gradient(140deg, rgb(254, 252, 249) 21%, rgba(237,230,215,1) 100%);
    color: rgb(0, 0, 0);
    box-shadow: 0px 2px 10px #bebebe;
    border: none;
    font-family: 'Sandy-Daniel';
    width: 100%;
    word-wrap: normal;
  }
  
  div.card-title {
    font-size: normal;
    margin-bottom: 0.25em;
    margin-left: 0.5em;
    font-weight: bold;
  }

  @media (min-width: 576px) {
    div.card-title {
      font-size: 1.25em;
    }
  }

  @media (min-width: 992px) {
    div.card-title {
      font-size: 1.5em;
    }
  }
  

  div.recipe-card .subtitle {
    font-size: 0.6em;
    font-weight: normal;
    display: flex;
  }
  
  div.recipe-card .subtitle p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-right: 1em;
  }
  
  div.recipe-btns {
    display: flex;
    justify-content: end;
    align-items: start;
  }
  
  div.recipe-btns button {
    margin-right: 0.3em;
    font-size: 17px;
  }
  
  div.recipe-card hr {
    margin-top: 0em;
    margin-bottom: 1em;
    color: red;
  }
  
  div.recipe-card .group-title {
    font-weight: bold;
  }
  
  div.recipe-card .equipment {
    padding-left: 1em;
  }
  
  div.recipe-card ul {
    list-style: none;
    font-size: x-small;
    padding-left: 0em;
  }

  @media (min-width: 576px) {
    div.recipe-card ul {
      font-size: 0.8em;
    }
  }

  @media (min-width: 992px) {
    div.recipe-card ul {
      font-size: 1em;
    }
  }
  
  
  div.recipe-card li {
    border-bottom: 1px solid rgb(191, 207, 233);
    padding-top: 0.3em;
  }