div.banner {
    margin-top: 0em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background-color: #ffffffca;
    color: #f15757;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.15);
    width: 100vw;
}

div.img-container {
    display: flex;
    justify-content: center;
}

p.title {
    font-size: 2em;
    text-align: center;
}

img.recipe-gma-pic {
    width: 50%;
    border-radius: 0.25em;
    box-shadow: 0px 5px 15px #d7d7d7;
    margin: 1em 0em;
}

div.tutorial {
    background-color: white;
    border-radius: 1em;
    box-shadow: 0px 5px 15px #d7d7d7;
    margin-top: 4em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.search-results {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 0;
    border-radius: 0.5em;
    margin-bottom: 1em;
    background-color: rgba(255, 255, 255, 0.75);
    color: rgb(80, 145, 178);
}

div.search-results p {
    margin: 0em 0.5em;
}

div.search-results .arrow-btn {
    border-radius: 5em;
    padding: 0em 0.5em;
}

div.search-results .left-arrow {
    margin-left: 1em;
    margin-right: auto;
}

div.search-results .right-arrow {
    margin-left: auto;
    margin-right: 1em;
}