div.search-bar {
  display: flex;
  align-items: end;
  margin-bottom: 2em;
}

div.search-input input {
  border: 1px solid #a7a7a7;
}

div.search-input select {
  border: 1px solid #a7a7a7;
}

div.search-input {
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-top: 0.5em;
}

div.search-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
}

/* The switch - the bkg behind the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 0.5em;
  /* background-color: #fff;
  border-radius: 1em; */
  color: rgb(241, 87, 87);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* slider background */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #d1d1d1;
  box-shadow: 0 0 4px 2px rgb(191, 208, 224);
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

/* slider circle */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 3px;
  background-color: #d1d1d1;
  -webkit-transition: .4s;
  transition: .4s;
}

/* sider heart */
.slider svg {
  position: absolute;
  left: 9px;
  bottom: 7px;
  color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(241, 87, 87);
}

input:checked + .slider svg {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
  color: rgb(241, 87, 87);
}

/* input:focus + .slider {
  box-shadow: 2px rgb(255, 203, 203)
} */

input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
  background-color: white;
} 

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}