.app {
  font-family: 'Sandy-Daniel';
}

body {
  height: 100%;
}

span.bold {
  font-weight: bold;
}

.loading {
  font-size: x-large;
  text-align: center;
  margin-top: 5em;
  color: rgb(241, 87, 87);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading svg {
  background-color: #fff;
  padding: 0.5em;
  border-radius: 5em;
  margin-bottom: 5em;
}

@font-face {
  font-family: 'Sandy-Daniel';
  src: url('./font/Sandy-Daniel.woff') format('woff'),
      url('./font/Sandy-Daniel.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}