div.recipe-card {
  margin-bottom: 2em;
  padding: 1em 0.75em;
}

div.recipe-card .card-title {
  font-size: x-large;
  text-align: center;
  margin-bottom: 0em;
}

div.recipe-card .source {
  font-size: small;
  text-align: center;
}

div.recipe-card .group-title {
  font-weight: bold;
}

div.recipe-card ul {
  list-style: none;
  padding-left: 0em;
}

div.recipe-card li {
  border-bottom: 1px solid rgb(207, 207, 207);
}