.app {
  font-family: 'Sandy-Daniel';
}

span.bold {
  font-weight: bold;
}

div.header {
  text-align: center;
  font-size: 18px;
  padding: 0.75em 0em;
  background-color: rgb(255, 247, 248);
  border-bottom: 1px solid rgb(199, 105, 135, 0.75);
  color: rgb(199, 105, 135);
}

p.title {
  font-size: 25px;
  display: inline;
  margin: 0em 0.5em;
}

@font-face {
  font-family: 'Sandy-Daniel';
  src: url('./font/Sandy-Daniel.woff') format('woff'),
      url('./font/Sandy-Daniel.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}